In [2]:
import numpy as np
import matplotlib as plt
import pymysql
from datetime import datetime, timedelta
from sshtunnel import SSHTunnelForwarder
import pandas as pd
% matplotlib inline

## 8/2

In [5]:
# vips 공시 database에서 유가증권, 코스피 공시 데이터만 select >> dataframe으로 return
with SSHTunnelForwarder(
         ('1.212.234.245', 486),
         ssh_password="vips",
         ssh_username="vips",
         remote_bind_address=('127.0.0.1', 3306)) as server:

    conn = pymysql.connect(host='localhost',
                           port=server.local_bind_port,
                           user='root',
                           passwd='qlqtmajrwk',
                           db='dg',
                           charset='utf8')

    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "select * from dg.searchDB where (crp_cls = 'K' or crp_cls = 'Y')"
    curs.execute(sql)
    rcp_table = curs.fetchall()

server.stop()

In [7]:
with SSHTunnelForwarder(
         ('1.212.234.245', 486),
         ssh_password="vips",
         ssh_username="vips",
         remote_bind_address=('127.0.0.1', 3306)) as server:

    conn = pymysql.connect(host='localhost',
                           port=server.local_bind_port,
                           user='root',
                           passwd='qlqtmajrwk',
                           db='dg',
                           charset='utf8')

    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql2 = "select * from dg.stockDB"
    curs.execute(sql2)
    stock_table = curs.fetchall()
    conn.commit()
    conn.close()
    
    
server.stop()

In [5]:
# 0812 13:07 기준 1297983개 공시
len(rcp_table)

1297983

In [8]:
# convert from list of dict  to dataframe
rcp_df = pd.DataFrame.from_dict(rcp_table)

In [9]:
rcp_df['rcp_dt'] = pd.to_datetime(rcp_df['rcp_dt'])
rcp_df['rcp_year'] = rcp_df['rcp_dt'].dt.year
rcp_df['rcp_month'] = rcp_df['rcp_dt'].dt.month
rcp_df['rcp_day'] = rcp_df['rcp_dt'].dt.day

In [205]:
rcp_df['rcp_dayofweek'] = rcp_df['rcp_dt'].dt.dayofweek
# The day of the week with Monday=0, Sunday=6

In [10]:
rcp_df.tail()

,crp_cd,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,rcp_year,rcp_month,rcp_day
1298242,189980,K,흥국에프엔비,흥국에프엔비,2018-08-03,20180803900262,14:59,코,None,연결재무제표기준영업(잠정)실적(공정공시),2018,8,3
1298243,036930,K,주성엔지니어링,주성엔지니어링,2018-08-03,20180803900279,15:17,코,None,연결재무제표기준영업(잠정)실적(공정공시),2018,8,3
1298244,064760,K,티씨케이,티씨케이,2018-08-03,20180803900284,15:12,코,None,[기재정정]주식명의개서정지(주주명부폐쇄),2018,8,3
1298245,069540,K,라이트론,라이트론,2018-08-03,20180803900292,15:35,코,None,증권발행결과(자율공시)(제3자배정 유상증자),2018,8,3
1298246,043610,K,지니뮤직,지니뮤직,2018-08-03,20180803900295,15:36,코,None,영업(잠정)실적(공정공시),2018,8,3

In [25]:
rcp_df.groupby('rcp_day')['rcp_no'].count()

rcp_day
1     31749
2     41887
3     37127
4     38264
5     35365
6     36216
7     40725
8     43111
9     42213
10    50875
11    38990
12    42138
13    47742
14    68622
15    53263
16    46661
17    35189
18    34623
19    33849
20    36395
21    36344
22    37300
23    37213
24    37979
25    37535
26    40323
27    45300
28    48797
29    48078
30    54580
31    39517
Name: rcp_no, dtype: int64

In [15]:
rcp_df.groupby('rcp_dayofweek')['rcp_no'].count()

rcp_dayofweek
0    242979
1    236425
2    224200
3    256788
4    318061
5     19530
Name: rcp_no, dtype: int64

In [16]:
rcp_df.groupby('rcp_year')['rcp_no'].count()

rcp_year
1999      1102
2000     20387
2001     32075
2002     45489
2003     61364
2004     63287
2005     64288
2006     61674
2007     68520
2008     70355
2009     79657
2010     74374
2011     77785
2012     75321
2013     80175
2014     84694
2015     91806
2016     92725
2017    100678
2018     52227
Name: rcp_no, dtype: int64

## rcp_dt를 언제부터 쌓고 있는지 확인

In [20]:
rcp_df[lambda x : x.rcp_year == 2007] #68520

,crp_cd,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,rcp_year,rcp_month,rcp_day,rcp_dayofweek
335053,011780,Y,금호석유화학,금호석유화학,2007-06-05,20060918800050,None,유,ET_01,기타경영사항(자율공시),2007,6,5,1
345297,034120,Y,SBS,SBS,2007-02-09,20061201800222,None,유,None,주주총회소집결의,2007,2,9,4
345811,000680,Y,LS네트웍스,LS네트웍스,2007-01-09,20061206800176,None,유,G_02,최대주주등소유주식변동신고서(최대주주변경시),2007,1,9,1
346428,008040,Y,사조동아원,사조동아원,2007-01-09,20061211800103,None,유,G_02,최대주주등소유주식변동신고서(최대주주변경시),2007,1,9,1
346656,002380,Y,케이씨씨,케이씨씨,2007-01-08,20061212800243,None,유,E_4,결산실적공시예고(안내공시),2007,1,8,0
346869,005930,Y,삼성전자,삼성전자,2007-01-15,20061213800072,None,유,G_01,최대주주등소유주식변동신고서,2007,1,15,0
347190,003570,Y,S&T중공업,S&T중공업,2007-03-13,20061214800331,None,유,B_7,단일판매ㆍ공급계약체결,2007,3,13,1
348130,002380,Y,케이씨씨,케이씨씨,2007-02-23,20061219800062,None,유,None,정기주주총회결과,2007,2,23,4
348271,007610,Y,선도전기,선도전기,2007-02-16,20061220800013,None,유,None,주주총회소집결의,2007,2,16,4
348480,006740,Y,영풍제지,영풍제지,2007-01-02,20061221800014,None,유,B_23,금전대여결정(자율공시),2007,1,2,1
348957,000270,Y,기아자동차,기아자동차,2007-01-02,20061226800078,None,유,E_4,영업실적등에대한전망(공정공시),2007,1,2,1
348959,000270,Y,기아자동차,기아자동차,2007-01-02,20061226800084,None,유,E_4,영업(잠정)실적(공정공시),2007,1,2,1
348963,015540,Y,메디플란트,메디플란트,2007-01-04,20061226800128,None,유,None,기타안내사항(안내공시),2007,1,4,3
348972,000640,Y,동아쏘시오홀딩스,동아쏘시오홀딩스,2007-01-02,20061226800192,None,유,E_4,영업실적등에대한전망(공정공시),2007,1,2,1
349151,017800,Y,현대엘리베이터,현대엘리베이터,2007-01-03,20061227800049,None,유,E_4,영업실적등에대한전망(공정공시),2007,1,3,2
349153,002360,Y,SH에너지화학,SH에너지화학,2007-01-03,20061227800057,None,유,G_01,최대주주등소유주식변동신고서,2007,1,3,2
349156,004200,Y,고려개발,고려개발,2007-01-02,20061227800063,None,유,G_01,최대주주등소유주식변동신고서,2007,1,2,1
349157,034220,Y,LG디스플레이,LG디스플레이,2007-01-05,20061227800065,None,유,None,기업설명회(IR)개최(안내공시),2007,1,5,4
349173,006120,Y,SK디스커버리,SK디스커버리,2007-01-03,20061227800152,None,유,G_01,최대주주등소유주식변동신고서,2007,1,3,2
349181,003960,Y,사조대림,사조대림,2007-01-11,20061227800207,None,유,None,대표이사(대표집행임원)변경(안내공시),2007,1,11,3
349395,002140,Y,고려산업,고려산업,2007-01-02,20061228800035,None,유,G_01,최대주주등소유주식변동신고서,2007,1,2,1
349397,001550,Y,조비,조비,2007-01-02,20061228800040,None,유,G_01,최대주주등소유주식변동신고서,2007,1,2,1
349398,086280,Y,현대글로비스,현대글로비스,2007-01-03,20061228800044,None,유,None,기타안내사항(안내공시),2007,1,3,2
349405,016880,Y,웅진,웅진,2007-01-03,20061228800072,None,유,E_4,영업실적등에대한전망(공정공시),2007,1,3,2
349406,016580,Y,환인제약,환인제약,2007-01-16,20061228800080,None,유,G_02,최대주주등소유주식변동신고서(최대주주변경시),2007,1,16,1
349408,004200,Y,고려개발,고려개발,2007-01-17,20061228800082,None,유정,B_22,[첨부추가]매출액또는손익구조30%(대규모법인은15%)이상변경,2007,1,17,2
349412,033780,Y,케이티앤지,케이티앤지,2007-01-24,20061228800094,None,유,E_4,영업(잠정)실적(공정공시),2007,1,24,2
349413,004200,Y,고려개발,고려개발,2007-01-12,20061228800100,None,유,E_4,결산실적공시예고(안내공시),2007,1,12,4
349416,000430,Y,대원강업,대원강업,2007-02-26,20061228800112,None,유,None,주주총회소집결의,2007,2,26,0
349419,033780,Y,케이티앤지,케이티앤지,2007-01-19,20061228800141,None,유,None,기업설명회(IR)개최(안내공시),2007,1,19,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418195,014790,Y,한라,한라,2007-12-31,20071231800003,None,유,B_9,단일판매ㆍ공급계약체결(자율공시),2007,12,31,0
418199,001020,Y,페이퍼코리아,페이퍼코리아,2007-12-31,20071231800008,None,유,C_03,횡령ㆍ배임혐의발생,2007,12,31,0
418203,003690,Y,코리안리,코리안리,2007-12-31,20071231800017,None,유,E_4,영업(잠정)실적(공정공시),2007,12,31,0
418204,001460,Y,BYC,BYC,2007-12-31,20071231800019,None,유,G_01,최대주주등소유주식변동신고서,2007,12,31,0
418205,001040,Y,CJ,CJ,2007-12-31,20071231800024,None,유,H2_01,지주회사의자회사편입,2007,12,31,0
418207,002240,Y,고려제강,고려제강,2007-12-31,20071231800031,None,유,G_01,최대주주등소유주식변동신고서,2007,12,31,0
418208,025540,Y,한국단자공업,한국단자공업,2007-12-31,20071231800040,None,유,G_01,최대주주등소유주식변동신고서,2007,12,31,0
418209,004990,Y,롯데지주,롯데지주,2007-12-31,20071231800044,None,유,G_01,최대주주등소유주식변동신고서,2007,12,31,0
418211,088790,Y,진도,진도,2007-12-31,20071231800056,None,유정,B_10,[기재정정]유형자산처분결정,2007,12,31,0
418219,019680,Y,대교,대교,2007-12-31,20071231800080,None,유,None,기타안내사항(안내공시),2007,12,31,0
418221,000540,Y,흥국화재,흥국화재,2007-12-31,20071231800097,None,유,E_4,영업(잠정)실적(공정공시),2007,12,31,0
418222,018670,Y,SK가스,SK가스,2007-12-31,20071231800113,None,유,B_7,단일판매ㆍ공급계약체결,2007,12,31,0
418224,015260,Y,에이엔피,에이엔피,2007-12-31,20071231800128,None,유,None,[첨부정정]기타안내사항(안내공시),2007,12,31,0
418225,003060,Y,에이프로젠제약,에이프로젠제약,2007-12-31,20071231800138,None,유,C_03,횡령ㆍ배임혐의발생,2007,12,31,0
418226,003060,Y,에이프로젠제약,에이프로젠제약,2007-12-31,20071231800144,None,유정,ET_01,기타경영사항(자율공시),2007,12,31,0
418230,083650,K,비에이치아이,비에이치아이,2007-12-31,20071231900014,None,코,None,수시공시의무관련사항(공정공시),2007,12,31,0
418231,067160,K,아프리카TV,아프리카TV,2007-12-31,20071231900019,None,코,G_04,대표이사변경,2007,12,31,0
418232,067160,K,아프리카TV,아프리카TV,2007-12-31,20071231900020,None,코,None,주식명의개서정지(주주명부폐쇄),2007,12,31,0
418233,056080,K,유진로봇,유진로봇,2007-12-31,20071231900024,None,코,N_05,조회공시(현저한시황변동관련),2007,12,31,0
418234,042370,K,비츠로테크,비츠로테크,2007-12-31,20071231900028,None,코,N_05,조회공시(현저한시황변동관련),2007,12,31,0
418235,042110,K,에스씨디,에스씨디,2007-12-31,20071231900031,None,코,G_04,대표이사변경,2007,12,31,0
418236,038460,K,바이오스마트,바이오스마트,2007-12-31,20071231900038,None,코,None,신주인수권행사가액의조정,2007,12,31,0
418237,018290,K,지엠피,지엠피,2007-12-31,20071231900040,None,코,N_05,조회공시(현저한시황변동관련),2007,12,31,0
418238,060900,K,퍼시픽바이오,퍼시픽바이오,2007-12-31,20071231900053,None,코,None,신주인수권행사가액의조정,2007,12,31,0
418239,054090,K,삼진엘앤디,삼진엘앤디,2007-12-31,20071231900059,None,코정,B_7,[기재정정]단일판매ㆍ공급계약체결,2007,12,31,0
418240,080010,K,이상네트웍스,이상네트웍스,2007-12-31,20071231900063,None,코,None,임시주주총회결과,2007,12,31,0
418241,041140,K,넥슨지티,넥슨지티,2007-12-31,20071231900066,None,코,B_9,[기재정정]단일판매ㆍ공급계약체결(자율공시),2007,12,31,0
418242,053110,K,소리바다,코스닥시장본부,2007-12-31,20071231900070,None,코,None,추가상장,2007,12,31,0
418243,060900,K,퍼시픽바이오,퍼시픽바이오,2007-12-31,20071231900077,None,코,G_04,대표이사변경,2007,12,31,0
418244,036630,K,세종텔레콤,세종텔레콤,2007-12-31,20071231900084,None,코,None,전환가액의조정,2007,12,31,0

In [93]:
rcp_df[rcp_df['rcp_rt'].isnull()]

,crp_cd,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,rcp_year,rcp_month,rcp_day,rcp_dayofweek
0,023150,Y,MH에탄올,MH에탄올,1999-03-25,19990325000001,None,정,E_1,사업보고서 (1998.12),1999,3,25,3
1,001140,Y,국보,국보,1999-03-25,19990325000003,None,정,E_1,사업보고서 (1998.12),1999,3,25,3
2,014160,Y,대영포장,대영포장,1999-03-25,19990325000008,None,정연,E_1,사업보고서 (1998.12),1999,3,25,3
3,002310,Y,아세아제지,아세아제지,1999-03-25,19990325000015,None,정,E_1,사업보고서 (1998.12),1999,3,25,3
4,015360,Y,예스코,예스코,1999-03-25,19990325000016,None,정,E_1,사업보고서 (1998.12),1999,3,25,3
5,003580,Y,동원,동원,1999-03-26,19990326000007,None,,E_1,사업보고서 (1998.12),1999,3,26,4
6,005030,Y,부산주공,부산주공,1999-03-27,19990327000001,None,,E_1,사업보고서 (1998.12),1999,3,27,5
7,014910,Y,성문전자,성문전자,1999-03-27,19990327000005,None,정,E_1,사업보고서 (1998.12),1999,3,27,5
8,029530,Y,신도리코,신도리코,1999-03-29,19990329000001,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
9,005320,Y,국동,국동,1999-03-29,19990329000003,None,정연,E_1,사업보고서 (1998.12),1999,3,29,0
10,011150,Y,CJ씨푸드,CJ씨푸드,1999-03-29,19990329000007,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
11,017960,Y,한국카본,한국카본,1999-03-29,19990329000013,None,,E_1,사업보고서 (1998.12),1999,3,29,0
12,004980,Y,성신양회,성신양회,1999-03-29,19990329000032,None,정연,E_1,사업보고서 (1998.12),1999,3,29,0
13,015350,Y,부산도시가스,부산도시가스,1999-03-29,19990329000036,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
14,009160,Y,SIMPAC,SIMPAC,1999-03-29,19990329000043,None,,E_1,사업보고서 (1998.12),1999,3,29,0
15,007340,Y,디티알오토모티브,디티알오토모티브,1999-03-29,19990329000044,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
16,011000,Y,진원생명과학,진원생명과학,1999-03-29,19990329000047,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
17,002350,Y,넥센타이어,넥센타이어,1999-03-29,19990329000048,None,,E_1,사업보고서 (1998.12),1999,3,29,0
18,000490,Y,대동공업,대동공업,1999-03-29,19990329000051,None,정연,E_1,사업보고서 (1998.12),1999,3,29,0
19,005430,Y,한국공항,한국공항,1999-03-29,19990329000052,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
20,002410,Y,범양건영,범양건영,1999-03-29,19990329000053,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
21,002920,Y,유성기업,유성기업,1999-03-29,19990329000054,None,,E_1,사업보고서 (1998.12),1999,3,29,0
22,009970,Y,영원무역홀딩스,영원무역홀딩스,1999-03-29,19990329000057,None,정연,E_1,사업보고서 (1998.12),1999,3,29,0
23,000700,Y,유수홀딩스,유수홀딩스,1999-03-29,19990329000059,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
24,005090,Y,삼광글라스,삼광글라스,1999-03-29,19990329000062,None,정연,E_1,사업보고서 (1998.12),1999,3,29,0
25,014530,Y,극동유화,극동유화,1999-03-29,19990329000070,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
26,017390,Y,서울도시가스,서울도시가스,1999-03-29,19990329000073,None,정연,E_1,사업보고서 (1998.12),1999,3,29,0
27,003620,Y,쌍용자동차,쌍용자동차,1999-03-29,19990329000074,None,,E_1,사업보고서 (1998.12),1999,3,29,0
28,006110,Y,삼아알미늄,삼아알미늄,1999-03-29,19990329000075,None,정,E_1,사업보고서 (1998.12),1999,3,29,0
29,007690,Y,국도화학,국도화학,1999-03-29,19990329000076,None,정연,E_1,사업보고서 (1998.12),1999,3,29,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1255824,005500,Y,삼진제약,삼진제약,2018-02-12,20180212800221,None,유,None,주주총회소집결의,2018,2,12,0
1255825,009310,Y,참엔지니어링,참엔지니어링,2018-02-12,20180212800252,None,유,S_02,소송등의판결ㆍ결정,2018,2,12,0
1255826,161890,Y,한국콜마,한국콜마,2018-02-12,20180212800262,None,유,G_01,최대주주등소유주식변동신고서,2018,2,12,0
1255827,000890,Y,보해양조,보해양조,2018-02-12,20180212800277,None,유,G_01,최대주주등소유주식변동신고서,2018,2,12,0
1255931,049080,K,기가레인,기가레인,2018-02-12,20180212900070,None,코,B_7,단일판매ㆍ공급계약체결,2018,2,12,0
1255932,259630,K,엠플러스,엠플러스,2018-02-12,20180212900076,None,코,B_7,단일판매ㆍ공급계약체결,2018,2,12,0
1255933,950130,K,엑세스바이오,엑세스바이오,2018-02-12,20180212900082,None,코,None,기업설명회(IR)개최,2018,2,12,0
1255934,065130,K,탑엔지니어링,탑엔지니어링,2018-02-12,20180212900105,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255935,219860,K,한화에이스스팩2호,한화에이스스팩2호,2018-02-12,20180212900111,None,코,None,주주총회소집결의,2018,2,12,0
1255936,219860,K,한화에이스스팩2호,한화에이스스팩2호,2018-02-12,20180212900114,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255937,279410,K,한화에이스스팩4호,한화에이스스팩4호,2018-02-12,20180212900153,None,코,None,주주총회소집결의,2018,2,12,0
1255938,063440,K,에프엔씨애드컬쳐,에프엔씨애드컬쳐,2018-02-12,20180212900155,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255939,267320,K,교보7호스팩,교보7호스팩,2018-02-12,20180212900157,None,코,None,주주총회소집결의,2018,2,12,0
1255940,242040,K,교보비엔케이스팩,교보비엔케이스팩,2018-02-12,20180212900160,None,코,None,주주총회소집결의,2018,2,12,0
1255941,264290,K,한화에이스스팩3호,한화에이스스팩3호,2018-02-12,20180212900183,None,코,None,주주총회소집결의,2018,2,12,0
1255942,148140,K,비디아이,비디아이,2018-02-12,20180212900192,None,코,B_20,"투자판단관련주요경영사항(강릉안인화력 1,2호기 회처리/회정제설비 사전착수지시서 접수)",2018,2,12,0
1255943,089150,K,케이씨티,케이씨티,2018-02-12,20180212900193,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255944,085660,K,차바이오텍,차바이오텍,2018-02-12,20180212900197,None,코,ET_01,기타경영사항(특허권취득)(자율공시)(피부줄기세포 배양액을 포함하는 피부 노화 예방 ...,2018,2,12,0
1255945,036640,K,HRS,HRS,2018-02-12,20180212900209,None,코,K_1,현금ㆍ현물배당결정,2018,2,12,0
1255946,095190,K,이엠코리아,이엠코리아,2018-02-12,20180212900214,None,코,B_9,단일판매ㆍ공급계약체결(자율공시),2018,2,12,0
1255947,263860,K,지니언스,지니언스,2018-02-12,20180212900222,None,코,E_4,영업(잠정)실적(공정공시),2018,2,12,0
1255948,263860,K,지니언스,지니언스,2018-02-12,20180212900223,None,코,E_4,연결재무제표기준영업(잠정)실적(공정공시),2018,2,12,0
1255949,257730,K,신한제3호스팩,신한제3호스팩,2018-02-12,20180212900239,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255950,012790,K,신일제약,신일제약,2018-02-12,20180212900248,None,코,K_1,현금ㆍ현물배당결정,2018,2,12,0
1255951,045340,K,토탈소프트,토탈소프트,2018-02-12,20180212900249,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255952,094360,K,칩스앤미디어,칩스앤미디어,2018-02-12,20180212900250,None,코,None,주주총회소집결의,2018,2,12,0
1255953,255220,K,SG,SG,2018-02-12,20180212900263,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255954,080000,K,에스엔유,에스엔유,2018-02-12,20180212900266,None,코,None,매출액또는손익구조30%(대규모법인은15%)이상변동,2018,2,12,0
1255955,050090,K,휘닉스소재,휘닉스소재,2018-02-12,20180212900272,None,코,None,전환사채(해외전환사채포함)발행후만기전사채취득(제6회차),2018,2,12,0
1255956,095190,K,이엠코리아,이엠코리아,2018-02-12,20180212900276,None,코,B_9,단일판매ㆍ공급계약체결(자율공시),2018,2,12,0

In [176]:
# 2016년 7월 31일까지 9:00~15:00 / 2016년 8월 1일부터 9:00~15:30
rcp_df.groupby(['rcp_no', 'rcp_hour']).count()

,,crp_cd,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_rt,rmk,rpt_cat,rpt_nm,rcp_year,rcp_month,rcp_day,rcp_dayofweek
rcp_no,rcp_hour,,,,,,,,,,,,,
19990325000001,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990325000003,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990325000008,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990325000015,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990325000016,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990326000007,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990327000001,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990327000005,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000001,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000003,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000007,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000013,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000032,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000036,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000043,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000044,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000047,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000048,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000051,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000052,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000053,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000054,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000057,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000059,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000062,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000070,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000073,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000074,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000075,0,1,1,1,1,1,0,1,1,1,1,1,1,1
19990329000076,0,1,1,1,1,1,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20180802000021,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000025,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000027,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000029,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000033,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000035,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000040,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000041,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000043,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000045,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000047,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000050,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000060,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000067,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000068,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000069,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000073,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000074,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802000078,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802800107,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802800111,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802800123,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900003,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900054,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900088,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900089,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900119,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900120,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900122,0,1,1,1,1,1,1,1,0,1,1,1,1,1
20180802900130,0,1,1,1,1,1,1,1,0,1,1,1,1,1

## rcp_df에 datecd 만들기

In [11]:
rcp_df['rcp_year'] = rcp_df['rcp_year'].astype(str)
rcp_df['rcp_month'] = rcp_df['rcp_month'].astype(str)
rcp_df['rcp_day'] = rcp_df['rcp_day'].astype(str)
rcp_df['crp_cd'] = rcp_df['crp_cd'].astype(str)

In [12]:
rcp_df['rcp_month'] = rcp_df['rcp_month'].str.zfill(2)
rcp_df['rcp_day'] = rcp_df['rcp_day'].str.zfill(2)

In [13]:
rcp_df['datecd'] = rcp_df.loc[:,'rcp_year'] + rcp_df.loc[:,'rcp_month']\
+ rcp_df.loc[:,'rcp_day'] + rcp_df.loc[:,'crp_cd']

In [91]:
print(rcp_df.iloc[1255956])
print(rcp_df.iloc[1255957]) #1255957 부터 시간 있음 2018-02-12 13:43

crp_cd                        095190
crp_cls                            K
crp_nm                         이엠코리아
flr_nm                         이엠코리아
rcp_dt           2018-02-12 00:00:00
rcp_no                20180212900276
rcp_rt                          None
rmk                                코
rpt_cat                          B_9
rpt_nm             단일판매ㆍ공급계약체결(자율공시)
rcp_year                        2018
rcp_month                          2
rcp_day                           12
rcp_dayofweek                      0
Name: 1255956, dtype: object
crp_cd                        086670
crp_cls                            K
crp_nm                           비엠티
flr_nm                           비엠티
rcp_dt           2018-02-12 00:00:00
rcp_no                20180212900282
rcp_rt                         13:43
rmk                                코
rpt_cat                          E_4
rpt_nm                영업(잠정)실적(공정공시)
rcp_year                        2018
rcp_month                          2
rcp_day                           12
rcp_dayofweek                      0
Name: 1255957, dtype: object

## stock_df 와 join (key = datecd)

In [14]:
rcp_df.tail()

,crp_cd,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,rcp_year,rcp_month,rcp_day,datecd
1298242,189980,K,흥국에프엔비,흥국에프엔비,2018-08-03,20180803900262,14:59,코,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803189980
1298243,036930,K,주성엔지니어링,주성엔지니어링,2018-08-03,20180803900279,15:17,코,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803036930
1298244,064760,K,티씨케이,티씨케이,2018-08-03,20180803900284,15:12,코,None,[기재정정]주식명의개서정지(주주명부폐쇄),2018,08,03,20180803064760
1298245,069540,K,라이트론,라이트론,2018-08-03,20180803900292,15:35,코,None,증권발행결과(자율공시)(제3자배정 유상증자),2018,08,03,20180803069540
1298246,043610,K,지니뮤직,지니뮤직,2018-08-03,20180803900295,15:36,코,None,영업(잠정)실적(공정공시),2018,08,03,20180803043610

In [15]:
# convert from list of dict  to dataframe
stock_df = pd.DataFrame.from_dict(stock_table)

In [16]:
len(stock_table)

6818450

stock_df['diff'] = stock_df['diff'].astype(int)
stock_df['high'] = stock_df['high'].astype(int)
stock_df['low'] = stock_df['low'].astype(int)
stock_df['open'] = stock_df['open'].astype(int)
stock_df['volume'] = stock_df['volume'].astype(int)

In [17]:
stock_df.head()

,close,crp_cd,date,datecd,diff,high,low,open,volume
0,36000.0,000020,1996-06-25,19960625000020,0.0,38400.0,36000.0,37700.0,102200.0
1,9300.0,000040,1996-06-25,19960625000040,0.0,9390.0,9290.0,9390.0,1600.0
2,42000.0,000050,1996-06-25,19960625000050,0.0,42000.0,42000.0,42000.0,0.0
3,30500.0,000060,1996-06-25,19960625000060,0.0,31000.0,29700.0,30100.0,68220.0
4,24700.0,000070,1996-06-25,19960625000070,0.0,25600.0,24700.0,25500.0,16960.0

In [18]:
join_df = rcp_df.merge(stock_df, on = 'datecd', how = 'left') #join과 merge의 차이점?

In [19]:
join_df.head()

,crp_cd_x,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,...,rcp_day,datecd,close,crp_cd_y,date,diff,high,low,open,volume
0,023150,Y,MH에탄올,MH에탄올,1999-03-25,19990325000001,None,정,E_1,사업보고서 (1998.12),...,25,19990325023150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001140,Y,국보,국보,1999-03-25,19990325000003,None,정,E_1,사업보고서 (1998.12),...,25,19990325001140,7800.0,001140,1999-03-25,40.0,8000.0,7620.0,7800.0,10080.0
2,014160,Y,대영포장,대영포장,1999-03-25,19990325000008,None,정연,E_1,사업보고서 (1998.12),...,25,19990325014160,10500.0,014160,1999-03-25,150.0,11700.0,10500.0,11500.0,454110.0
3,002310,Y,아세아제지,아세아제지,1999-03-25,19990325000015,None,정,E_1,사업보고서 (1998.12),...,25,19990325002310,10800.0,002310,1999-03-25,300.0,11200.0,10500.0,10550.0,75860.0
4,015360,Y,예스코,예스코,1999-03-25,19990325000016,None,정,E_1,사업보고서 (1998.12),...,25,19990325015360,25400.0,015360,1999-03-25,0.0,25600.0,24900.0,24900.0,6900.0

In [24]:
import pickle

In [43]:
f = open('join_df.bin', 'wb')

In [44]:
pickle.dump(join_df, f)

In [45]:
f.close()

In [46]:
data = pickle.load(open('join_df.bin', 'rb'))

In [47]:
data.head()

,crp_cd_x,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,...,datecd,close,crp_cd_y,date,diff,high,low,open,volume,setting_y
0,023150,Y,MH에탄올,MH에탄올,1999-03-25,19990325000001,None,정,E_1,사업보고서 (1998.12),...,19990325023150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,001140,Y,국보,국보,1999-03-25,19990325000003,None,정,E_1,사업보고서 (1998.12),...,19990325001140,7800.0,001140,1999-03-25,40.0,8000.0,7620.0,7800.0,10080.0,1
2,014160,Y,대영포장,대영포장,1999-03-25,19990325000008,None,정연,E_1,사업보고서 (1998.12),...,19990325014160,10500.0,014160,1999-03-25,150.0,11700.0,10500.0,11500.0,454110.0,0
3,002310,Y,아세아제지,아세아제지,1999-03-25,19990325000015,None,정,E_1,사업보고서 (1998.12),...,19990325002310,10800.0,002310,1999-03-25,300.0,11200.0,10500.0,10550.0,75860.0,1
4,015360,Y,예스코,예스코,1999-03-25,19990325000016,None,정,E_1,사업보고서 (1998.12),...,19990325015360,25400.0,015360,1999-03-25,0.0,25600.0,24900.0,24900.0,6900.0,1

## 당일종가 - 당일시가

In [20]:
join_df['setting_y'] = [1 if x >= 0 else 0 for x in join_df['close'] - join_df['open']]

In [48]:
join_df.head()

,crp_cd_x,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,...,datecd,close,crp_cd_y,date,diff,high,low,open,volume,setting_y
0,023150,Y,MH에탄올,MH에탄올,1999-03-25,19990325000001,None,정,E_1,사업보고서 (1998.12),...,19990325023150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,001140,Y,국보,국보,1999-03-25,19990325000003,None,정,E_1,사업보고서 (1998.12),...,19990325001140,7800.0,001140,1999-03-25,40.0,8000.0,7620.0,7800.0,10080.0,1
2,014160,Y,대영포장,대영포장,1999-03-25,19990325000008,None,정연,E_1,사업보고서 (1998.12),...,19990325014160,10500.0,014160,1999-03-25,150.0,11700.0,10500.0,11500.0,454110.0,0
3,002310,Y,아세아제지,아세아제지,1999-03-25,19990325000015,None,정,E_1,사업보고서 (1998.12),...,19990325002310,10800.0,002310,1999-03-25,300.0,11200.0,10500.0,10550.0,75860.0,1
4,015360,Y,예스코,예스코,1999-03-25,19990325000016,None,정,E_1,사업보고서 (1998.12),...,19990325015360,25400.0,015360,1999-03-25,0.0,25600.0,24900.0,24900.0,6900.0,1

In [58]:
join_df.columns

Index(['crp_cd_x', 'crp_cls', 'crp_nm', 'flr_nm', 'rcp_dt', 'rcp_no', 'rcp_rt',
       'rmk', 'rpt_cat', 'rpt_nm', 'rcp_year', 'rcp_month', 'rcp_day',
       'datecd', 'close', 'crp_cd_y', 'date', 'diff', 'high', 'low', 'open',
       'volume', 'setting_y'],
      dtype='object')

In [61]:
pickle_df = join_df[['crp_cd_x', 'crp_cls', 'crp_nm', 'rcp_dt', 'rcp_no', 'rpt_cat', 'rpt_nm',
                     'rcp_year', 'rcp_month', 'rcp_day', 'datecd', 'close', 'open', 'high', 'low',
                     'open', 'volume', 'setting_y']]

In [74]:
pickle_df

,crp_cd_x,crp_cls,crp_nm,rcp_dt,rcp_no,rpt_cat,rpt_nm,rcp_year,rcp_month,rcp_day,datecd,close,open,diff,high,low,open,volume,setting_y
0,023150,Y,MH에탄올,1999-03-25,19990325000001,E_1,사업보고서 (1998.12),1999,03,25,19990325023150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,001140,Y,국보,1999-03-25,19990325000003,E_1,사업보고서 (1998.12),1999,03,25,19990325001140,7800.0,7800.0,40.0,8000.0,7620.0,7800.0,10080.0,1
2,014160,Y,대영포장,1999-03-25,19990325000008,E_1,사업보고서 (1998.12),1999,03,25,19990325014160,10500.0,11500.0,150.0,11700.0,10500.0,11500.0,454110.0,0
3,002310,Y,아세아제지,1999-03-25,19990325000015,E_1,사업보고서 (1998.12),1999,03,25,19990325002310,10800.0,10550.0,300.0,11200.0,10500.0,10550.0,75860.0,1
4,015360,Y,예스코,1999-03-25,19990325000016,E_1,사업보고서 (1998.12),1999,03,25,19990325015360,25400.0,24900.0,0.0,25600.0,24900.0,24900.0,6900.0,1
5,003580,Y,동원,1999-03-26,19990326000007,E_1,사업보고서 (1998.12),1999,03,26,19990326003580,63400.0,63200.0,700.0,64700.0,63200.0,63200.0,29170.0,1
6,005030,Y,부산주공,1999-03-27,19990327000001,E_1,사업보고서 (1998.12),1999,03,27,19990327005030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,014910,Y,성문전자,1999-03-27,19990327000005,E_1,사업보고서 (1998.12),1999,03,27,19990327014910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,029530,Y,신도리코,1999-03-29,19990329000001,E_1,사업보고서 (1998.12),1999,03,29,19990329029530,44500.0,45000.0,1500.0,45000.0,44000.0,45000.0,10760.0,0
9,005320,Y,국동,1999-03-29,19990329000003,E_1,사업보고서 (1998.12),1999,03,29,19990329005320,21200.0,21900.0,900.0,21900.0,21100.0,21900.0,11100.0,0
10,011150,Y,CJ씨푸드,1999-03-29,19990329000007,E_1,사업보고서 (1998.12),1999,03,29,19990329011150,1680.0,1580.0,5.0,1680.0,1560.0,1580.0,1120.0,1
11,017960,Y,한국카본,1999-03-29,19990329000013,E_1,사업보고서 (1998.12),1999,03,29,19990329017960,4510.0,4550.0,30.0,4580.0,4455.0,4550.0,101600.0,0
12,004980,Y,성신양회,1999-03-29,19990329000032,E_1,사업보고서 (1998.12),1999,03,29,19990329004980,6250.0,6400.0,230.0,6450.0,6250.0,6400.0,196610.0,0
13,015350,Y,부산도시가스,1999-03-29,19990329000036,E_1,사업보고서 (1998.12),1999,03,29,19990329015350,28800.0,29400.0,500.0,29400.0,28800.0,29400.0,7400.0,0
14,009160,Y,SIMPAC,1999-03-29,19990329000043,E_1,사업보고서 (1998.12),1999,03,29,19990329009160,2010.0,2000.0,30.0,2020.0,1950.0,2000.0,52540.0,1
15,007340,Y,디티알오토모티브,1999-03-29,19990329000044,E_1,사업보고서 (1998.12),1999,03,29,19990329007340,41550.0,41100.0,550.0,42400.0,41000.0,41100.0,107340.0,1
16,011000,Y,진원생명과학,1999-03-29,19990329000047,E_1,사업보고서 (1998.12),1999,03,29,19990329011000,8500.0,8210.0,0.0,8640.0,8130.0,8210.0,5980.0,1
17,002350,Y,넥센타이어,1999-03-29,19990329000048,E_1,사업보고서 (1998.12),1999,03,29,19990329002350,6860.0,8000.0,1200.0,8000.0,6860.0,8000.0,37300.0,0
18,000490,Y,대동공업,1999-03-29,19990329000051,E_1,사업보고서 (1998.12),1999,03,29,19990329000490,6500.0,6500.0,100.0,6600.0,6410.0,6500.0,41100.0,1
19,005430,Y,한국공항,1999-03-29,19990329000052,E_1,사업보고서 (1998.12),1999,03,29,19990329005430,23300.0,23600.0,600.0,23700.0,23300.0,23600.0,5950.0,0
20,002410,Y,범양건영,1999-03-29,19990329000053,E_1,사업보고서 (1998.12),1999,03,29,19990329002410,8980.0,8750.0,180.0,9200.0,8660.0,8750.0,384000.0,1
21,002920,Y,유성기업,1999-03-29,19990329000054,E_1,사업보고서 (1998.12),1999,03,29,19990329002920,17250.0,16900.0,450.0,17700.0,16800.0,16900.0,36960.0,1
22,009970,Y,영원무역홀딩스,1999-03-29,19990329000057,E_1,사업보고서 (1998.12),1999,03,29,19990329009970,3075.0,3150.0,75.0,3160.0,3070.0,3150.0,397000.0,0
23,000700,Y,유수홀딩스,1999-03-29,19990329000059,E_1,사업보고서 (1998.12),1999,03,29,19990329000700,16700.0,16300.0,300.0,17000.0,16300.0,16300.0,51130.0,1
24,005090,Y,삼광글라스,1999-03-29,19990329000062,E_1,사업보고서 (1998.12),1999,03,29,19990329005090,2590.0,2315.0,60.0,2640.0,2315.0,2315.0,10250.0,1
25,014530,Y,극동유화,1999-03-29,19990329000070,E_1,사업보고서 (1998.12),1999,03,29,19990329014530,13300.0,13300.0,0.0,13300.0,12700.0,13300.0,23300.0,1
26,017390,Y,서울도시가스,1999-03-29,19990329000073,E_1,사업보고서 (1998.12),1999,03,29,19990329017390,29300.0,29000.0,300.0,29800.0,28950.0,29000.0,31040.0,1
27,003620,Y,쌍용자동차,1999-03-29,19990329000074,E_1,사업보고서 (1998.12),1999,03,29,19990329003620,2480.0,2430.0,30.0,2500.0,2430.0,2430.0,331090.0,1
28,006110,Y,삼아알미늄,1999-03-29,19990329000075,E_1,사업보고서 (1998.12),1999,03,29,19990329006110,38500.0,38500.0,1550.0,38500.0,38500.0,38500.0,10.0,1
29,007690,Y,국도화학,1999-03-29,19990329000076,E_1,사업보고서 (1998.12),1999,03,29,19990329007690,12500.0,12700.0,200.0,12900.0,12500.0,12700.0,115430.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298217,004440,Y,대림씨엔에스,2018-08-03,20180803800100,None,단일판매ㆍ공급계약체결,2018,08,03,20180803004440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298218,107590,Y,미원홀딩스,2018-08-03,20180803800121,None,최대주주등소유주식변동신고서,2018,08,03,20180803107590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298219,268280,Y,미원에스씨,2018-08-03,20180803800125,None,최대주주등소유주식변동신고서,2018,08,03,20180803268280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298220,002990,Y,금호산업,2018-08-03,20180803800141,None,[기재정정]단일판매ㆍ공급계약체결,2018,08,03,20180803002990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298221,004450,Y,삼화왕관,2018-08-03,20180803800148,None,현금ㆍ현물배당결정,2018,08,03,20180803004450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298222,023450,Y,동남합성,2018-08-03,20180803800152,None,최대주주등소유주식변동신고서,2018,08,03,20180803023450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298223,031440,Y,신세계푸드,2018-08-03,20180803800197,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803031440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298224,011150,Y,CJ씨푸드,2018-08-03,20180803800207,None,주주총회소집결의,2018,08,03,20180803011150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298225,115390,Y,락앤락,2018-08-03,20180803800238,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803115390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298226,003010,Y,혜인,2018-08-03,20180803800240,None,최대주주등소유주식변동신고서,2018,08,03,20180803003010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298227,010600,Y,웰바이오텍,2018-08-03,20180803800304,None,최대주주등소유주식변동신고서,2018,08,03,20180803010600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298228,001880,Y,삼호,2018-08-03,20180803800310,None,타인에대한채무보증결정,2018,08,03,20180803001880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298229,123420,K,선데이토즈,2018-08-03,20180803900048,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803123420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298230,155650,K,와이엠씨,2018-08-03,20180803900087,None,영업(잠정)실적(공정공시),2018,08,03,20180803155650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298231,119610,K,인터로조,2018-08-03,20180803900109,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803119610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298232,089790,K,제이티,2018-08-03,20180803900111,None,단일판매ㆍ공급계약체결(자율공시),2018,08,03,20180803089790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298233,072520,K,케이디 네이쳐 엔 바이오,2018-08-03,20180803900112,None,임시주주총회결과,2018,08,03,20180803072520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298234,090460,K,비에이치,2018-08-03,20180803900154,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803090460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298235,007820,K,에스엠코어,2018-08-03,20180803900162,None,단일판매ㆍ공급계약체결(자율공시),2018,08,03,20180803007820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298236,007820,K,에스엠코어,2018-08-03,20180803900163,None,단일판매ㆍ공급계약체결(자율공시),2018,08,03,20180803007820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298237,126870,K,뉴로스,2018-08-03,20180803900170,None,전환가액의조정(제7회차),2018,08,03,20180803126870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298238,222080,K,씨아이에스,2018-08-03,20180803900213,None,신규시설투자등,2018,08,03,20180803222080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298239,007390,K,네이처셀,2018-08-03,20180803900218,None,[기재정정]투자판단관련주요경영사항(대표이사 구속 관련),2018,08,03,20180803007390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298240,086390,K,유니테스트,2018-08-03,20180803900225,None,단일판매ㆍ공급계약체결(자율공시),2018,08,03,20180803086390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298241,039230,K,에이아이비트,2018-08-03,20180803900259,None,전환가액의조정(제11회차),2018,08,03,20180803039230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298242,189980,K,흥국에프엔비,2018-08-03,20180803900262,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298243,036930,K,주성엔지니어링,2018-08-03,20180803900279,None,연결재무제표기준영업(잠정)실적(공정공시),2018,08,03,20180803036930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298244,064760,K,티씨케이,2018-08-03,20180803900284,None,[기재정정]주식명의개서정지(주주명부폐쇄),2018,08,03,20180803064760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298245,069540,K,라이트론,2018-08-03,20180803900292,None,증권발행결과(자율공시)(제3자배정 유상증자),2018,08,03,20180803069540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298246,043610,K,지니뮤직,2018-08-03,20180803900295,None,영업(잠정)실적(공정공시),2018,08,03,20180803043610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [76]:
pickle_df['crp_cls'].unique()

array(['Y', 'K'], dtype=object)

In [71]:
f = open('df_for_ml.bin', 'wb')

In [72]:
pickle.dump(pickle_df, f)

In [73]:
f.close()

In [56]:
join_df.rpt_cat.unique()

array(['E_1', 'E_3', 'GS', 'G_06', 'G_08', None, 'L1_03', 'T_1', 'L1_04',
       'I_07', 'B_25', 'B_16', 'K_3', 'B_7', 'B_3', 'I_09', 'K_2', 'I_01',
       'I_03', 'G_10', 'B_2', 'E_4', 'I_08', 'B_4', 'K_4', 'B_1', 'B_23',
       'T_2', 'T_5', 'K_5', 'K_1', 'E_2', 'I_12', 'MS_04', 'B_5', 'I_10',
       'I_17', 'B_6', 'I_06', 'B_8', 'T_3', 'K_7', 'T_4', 'H2_09', 'G_09',
       'G_04', 'R_01', 'ET_01', 'N_01', 'N_03', 'R_02', 'R_03', 'B_21',
       'B_9', 'B_10', 'G_01', 'G_02', 'B_24', 'B_22', 'L1_01', 'S_03',
       'S_02', 'K_6', 'G_03', 'MS_01', 'H2_10', 'H2_13', 'C_03', 'H2_11',
       'G_07', 'H2_03', 'H2_04', 'L1_02', 'C_01', 'H2_01', 'N_05', 'N_04',
       'C_02', 'S_01', 'L2_04', 'L2_03', 'L2_05', 'B_13', 'G_11', 'H2_12',
       'I_02', 'I_05', 'I_14', 'I_04', 'H2_02', 'I_15', 'I_16', 'H1_02',
       'H1_09', 'H1_03', 'H1_05', 'H1_06', 'H1_08', 'H1_04', 'H1_07',
       'H2_07', 'L2_06', 'R_04', 'R_05', 'H2_06', 'B_14', 'B_12', 'B_15',
       'B_11', 'N_02', 'B_20', 'H2_05', 'I_20', 'E-2', 'G-08', 'K-1',
       'B-07', 'B-03'], dtype=object)

In [55]:
join_df.groupby('rpt_cat').size()

rpt_cat
B-03         1
B-07         1
B_1        420
B_10       982
B_11       241
B_12       150
B_13        87
B_14       214
B_15       363
B_16      4452
B_2        708
B_20       635
B_21        45
B_22     13599
B_23      1395
B_24       305
B_25      3349
B_3      10537
B_4        547
B_5        744
B_6        145
B_7      17150
B_8        374
B_9      14062
C_01       137
C_02        87
C_03       256
E-2          1
ET_01    14305
E_1      32311
         ...
K_6        212
K_7        269
L1_01     2483
L1_02      410
L1_03    22273
L1_04    12634
L2_03     3319
L2_04     1595
L2_05      200
L2_06      145
MS_01     2615
MS_04     3109
N_01      2086
N_02       100
N_03      1106
N_04       169
N_05       120
R_01      8623
R_02      4801
R_03       992
R_04       134
R_05       198
S_01       395
S_02      2100
S_03      1588
T_1      12130
T_2       3803
T_3       1726
T_4       1958
T_5      14176
Length: 117, dtype: int64

In [23]:
join_df.groupby(['rpt_cat'])[lambda x : x not 'E'].size().sort_values(ascending = False)

TypeError: 'in <string>' requires string as left operand, not Series

## 당일종가 - 전일종가

In [75]:
#diff test
join_df.tail(10000)

,crp_cd_x,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm,...,datecd,close,crp_cd_y,date,diff,high,low,open,volume,setting_y
1288247,005930,Y,삼성전자,이춘재,2018-06-12,20180612000243,15:30,,None,임원ㆍ주요주주특정증권등소유상황보고서,...,20180612005930,49400.0,005930,2018-06-12,500.0,49800.0,49250.0,49700.0,12110600.0,0
1288248,016360,Y,삼성증권,삼성증권,2018-06-12,20180612000246,15:31,,None,증권발행실적보고서,...,20180612016360,38150.0,016360,2018-06-12,50.0,38300.0,37700.0,38000.0,373937.0,1
1288249,272550,Y,삼양패키징,삼양패키징,2018-06-12,20180612000249,15:32,,None,[기재정정]사업보고서 (2017.12),...,20180612272550,17500.0,272550,2018-06-12,500.0,18000.0,17450.0,17900.0,19817.0,0
1288250,023450,Y,동남합성,동남합성,2018-06-12,20180612000250,15:36,,None,주요사항보고서(자기주식처분결정),...,20180612023450,61300.0,023450,2018-06-12,1000.0,61800.0,60000.0,60000.0,189.0,1
1288251,003470,Y,유안타증권,유안타증권,2018-06-12,20180612000254,15:33,,None,일괄신고추가서류(파생결합증권-주가연계증권),...,20180612003470,4595.0,003470,2018-06-12,10.0,4685.0,4540.0,4630.0,514692.0,0
1288252,005940,Y,NH투자증권,NH투자증권,2018-06-12,20180612000256,15:33,,None,투자설명서(일괄신고),...,20180612005940,16850.0,005940,2018-06-12,0.0,17100.0,16700.0,16800.0,848561.0,1
1288253,033340,K,좋은사람들,좋은사람들,2018-06-12,20180612000259,15:39,,None,주요사항보고서(자기주식처분결정),...,20180612033340,6770.0,033340,2018-06-12,260.0,7430.0,6000.0,7050.0,17676500.0,0
1288254,003540,Y,대신증권,대신증권,2018-06-12,20180612000262,15:37,,None,일괄신고추가서류(기타파생결합증권),...,20180612003540,13450.0,003540,2018-06-12,0.0,13550.0,13300.0,13450.0,75794.0,1
1288255,012030,Y,DB,박현철,2018-06-12,20180612000263,15:38,,None,임원ㆍ주요주주특정증권등소유상황보고서,...,20180612012030,1130.0,012030,2018-06-12,30.0,1170.0,1115.0,1160.0,1556100.0,0
1288256,005070,Y,코스모신소재,코스모신소재,2018-06-12,20180612000265,15:39,,None,[기재정정]사업보고서 (2017.12),...,20180612005070,22450.0,005070,2018-06-12,350.0,23250.0,21750.0,22500.0,584059.0,0
1288257,007460,Y,에이프로젠 KIC,에이프로젠 KIC,2018-06-12,20180612000268,15:52,,None,주요사항보고서(타법인주식및출자증권양수결정),...,20180612007460,12600.0,007460,2018-06-12,0.0,12650.0,12350.0,12600.0,279414.0,1
1288258,083550,K,케이엠,신병순,2018-06-12,20180612000270,15:43,,None,주식등의대량보유상황보고서(일반),...,20180612083550,10600.0,083550,2018-06-12,100.0,11500.0,10100.0,10700.0,277649.0,0
1288259,003540,Y,대신증권,대신증권,2018-06-12,20180612000271,15:43,,None,일괄신고추가서류(파생결합증권-주가연계증권),...,20180612003540,13450.0,003540,2018-06-12,0.0,13550.0,13300.0,13450.0,75794.0,1
1288260,105560,Y,KB금융,KB금융,2018-06-12,20180612000273,15:45,,None,증권발행실적보고서,...,20180612105560,56900.0,105560,2018-06-12,500.0,58100.0,56700.0,58000.0,1020140.0,0
1288261,038500,K,삼표시멘트,케이머스원,2018-06-12,20180612000276,15:47,,None,주식등의대량보유상황보고서(일반),...,20180612038500,5630.0,038500,2018-06-12,450.0,6150.0,5500.0,6060.0,2258190.0,0
1288262,016360,Y,삼성증권,삼성증권,2018-06-12,20180612000277,15:48,,None,증권발행실적보고서,...,20180612016360,38150.0,016360,2018-06-12,50.0,38300.0,37700.0,38000.0,373937.0,1
1288263,003540,Y,대신증권,대신증권,2018-06-12,20180612000280,15:50,,None,투자설명서(일괄신고),...,20180612003540,13450.0,003540,2018-06-12,0.0,13550.0,13300.0,13450.0,75794.0,1
1288264,050890,K,쏠리드,원익그로쓰챔프2011의3호사모투자전문회사,2018-06-12,20180612000281,15:50,,None,주식등의대량보유상황보고서(일반),...,20180612050890,4850.0,050890,2018-06-12,50.0,4945.0,4715.0,4925.0,779665.0,0
1288265,050320,K,에이앤티앤,에이앤티앤,2018-06-12,20180612000282,15:52,,None,[기재정정]주주총회소집공고,...,20180612050320,3220.0,050320,2018-06-12,0.0,0.0,0.0,0.0,0.0,1
1288266,042700,Y,한미반도체,한미반도체,2018-06-12,20180612000283,15:52,,None,신탁계약해지결과보고서,...,20180612042700,9970.0,042700,2018-06-12,10.0,10050.0,9900.0,10000.0,99365.0,0
1288267,033310,K,디케이디앤아이,디케이마린,2018-06-12,20180612000285,15:52,,None,주식등의대량보유상황보고서(일반),...,20180612033310,2150.0,033310,2018-06-12,100.0,2250.0,2140.0,2250.0,62290.0,0
1288268,003470,Y,유안타증권,유안타증권,2018-06-12,20180612000286,15:52,,None,투자설명서(일괄신고),...,20180612003470,4595.0,003470,2018-06-12,10.0,4685.0,4540.0,4630.0,514692.0,0
1288269,005300,Y,롯데칠성음료,김상태,2018-06-12,20180612000288,15:53,,None,임원ㆍ주요주주특정증권등소유상황보고서,...,20180612005300,1646000.0,005300,2018-06-12,26000.0,1646000.0,1618000.0,1618000.0,1594.0,1
1288270,003540,Y,대신증권,대신증권,2018-06-12,20180612000289,15:53,,None,투자설명서(일괄신고),...,20180612003540,13450.0,003540,2018-06-12,0.0,13550.0,13300.0,13450.0,75794.0,1
1288271,027580,K,상보,상보,2018-06-12,20180612000290,15:54,연,None,[기재정정]사업보고서 (2017.12),...,20180612027580,2115.0,027580,2018-06-12,20.0,2230.0,2115.0,2200.0,406653.0,0
1288272,008560,Y,메리츠종금증권,메리츠종금증권,2018-06-12,20180612000292,15:55,,None,증권발행실적보고서,...,20180612008560,4185.0,008560,2018-06-12,35.0,4240.0,4180.0,4225.0,1000260.0,0
1288273,001720,Y,신영증권,신영증권,2018-06-12,20180612000294,15:56,,None,[기재정정]증권발행실적보고서,...,20180612001720,58300.0,001720,2018-06-12,300.0,59100.0,58300.0,59100.0,5671.0,0
1288274,068400,Y,AJ렌터카,에이비엘글로벌자산운용,2018-06-12,20180612000295,15:57,,None,주식등의대량보유상황보고서(약식),...,20180612068400,11750.0,068400,2018-06-12,50.0,11900.0,11650.0,11700.0,182306.0,1
1288275,027580,K,상보,상보,2018-06-12,20180612000297,15:57,,None,[기재정정]분기보고서 (2018.03),...,20180612027580,2115.0,027580,2018-06-12,20.0,2230.0,2115.0,2200.0,406653.0,0
1288276,053260,K,금강철강,금강철강,2018-06-12,20180612000298,16:03,,None,[연장결정]주요사항보고서(자기주식취득신탁계약체결결정),...,20180612053260,4160.0,053260,2018-06-12,30.0,4180.0,4110.0,4115.0,52767.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298217,004440,Y,대림씨엔에스,대림씨엔에스,2018-08-03,20180803800100,09:58,유,None,단일판매ㆍ공급계약체결,...,20180803004440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298218,107590,Y,미원홀딩스,미원홀딩스,2018-08-03,20180803800121,10:18,유,None,최대주주등소유주식변동신고서,...,20180803107590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298219,268280,Y,미원에스씨,미원에스씨,2018-08-03,20180803800125,10:21,유,None,최대주주등소유주식변동신고서,...,20180803268280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298220,002990,Y,금호산업,금호산업,2018-08-03,20180803800141,10:41,유,None,[기재정정]단일판매ㆍ공급계약체결,...,20180803002990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298221,004450,Y,삼화왕관,삼화왕관,2018-08-03,20180803800148,10:42,유,None,현금ㆍ현물배당결정,...,20180803004450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298222,023450,Y,동남합성,동남합성,2018-08-03,20180803800152,10:46,유,None,최대주주등소유주식변동신고서,...,20180803023450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298223,031440,Y,신세계푸드,신세계푸드,2018-08-03,20180803800197,11:24,유,None,연결재무제표기준영업(잠정)실적(공정공시),...,20180803031440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298224,011150,Y,CJ씨푸드,CJ씨푸드,2018-08-03,20180803800207,11:34,유,None,주주총회소집결의,...,20180803011150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298225,115390,Y,락앤락,락앤락,2018-08-03,20180803800238,13:39,유,None,연결재무제표기준영업(잠정)실적(공정공시),...,20180803115390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298226,003010,Y,혜인,혜인,2018-08-03,20180803800240,13:39,유,None,최대주주등소유주식변동신고서,...,20180803003010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298227,010600,Y,웰바이오텍,웰바이오텍,2018-08-03,20180803800304,15:36,유,None,최대주주등소유주식변동신고서,...,20180803010600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298228,001880,Y,삼호,삼호,2018-08-03,20180803800310,15:37,유,None,타인에대한채무보증결정,...,20180803001880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298229,123420,K,선데이토즈,선데이토즈,2018-08-03,20180803900048,08:36,코,None,연결재무제표기준영업(잠정)실적(공정공시),...,20180803123420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298230,155650,K,와이엠씨,와이엠씨,2018-08-03,20180803900087,09:39,코,None,영업(잠정)실적(공정공시),...,20180803155650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298231,119610,K,인터로조,인터로조,2018-08-03,20180803900109,10:09,코,None,연결재무제표기준영업(잠정)실적(공정공시),...,20180803119610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298232,089790,K,제이티,제이티,2018-08-03,20180803900111,10:12,코,None,단일판매ㆍ공급계약체결(자율공시),...,20180803089790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298233,072520,K,케이디 네이쳐 엔 바이오,케이디 네이쳐 엔 바이오,2018-08-03,20180803900112,10:13,코,None,임시주주총회결과,...,20180803072520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298234,090460,K,비에이치,비에이치,2018-08-03,20180803900154,10:58,코,None,연결재무제표기준영업(잠정)실적(공정공시),...,20180803090460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298235,007820,K,에스엠코어,에스엠코어,2018-08-03,20180803900162,11:02,코,None,단일판매ㆍ공급계약체결(자율공시),...,20180803007820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298236,007820,K,에스엠코어,에스엠코어,2018-08-03,20180803900163,11:03,코,None,단일판매ㆍ공급계약체결(자율공시),...,20180803007820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298237,126870,K,뉴로스,뉴로스,2018-08-03,20180803900170,11:11,코,None,전환가액의조정(제7회차),...,20180803126870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298238,222080,K,씨아이에스,씨아이에스,2018-08-03,20180803900213,11:43,코,None,신규시설투자등,...,20180803222080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298239,007390,K,네이처셀,네이처셀,2018-08-03,20180803900218,13:05,코,None,[기재정정]투자판단관련주요경영사항(대표이사 구속 관련),...,20180803007390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298240,086390,K,유니테스트,유니테스트,2018-08-03,20180803900225,13:29,코,None,단일판매ㆍ공급계약체결(자율공시),...,20180803086390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298241,039230,K,에이아이비트,에이아이비트,2018-08-03,20180803900259,14:39,코,None,전환가액의조정(제11회차),...,20180803039230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298242,189980,K,흥국에프엔비,흥국에프엔비,2018-08-03,20180803900262,14:59,코,None,연결재무제표기준영업(잠정)실적(공정공시),...,20180803189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298243,036930,K,주성엔지니어링,주성엔지니어링,2018-08-03,20180803900279,15:17,코,None,연결재무제표기준영업(잠정)실적(공정공시),...,20180803036930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298244,064760,K,티씨케이,티씨케이,2018-08-03,20180803900284,15:12,코,None,[기재정정]주식명의개서정지(주주명부폐쇄),...,20180803064760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298245,069540,K,라이트론,라이트론,2018-08-03,20180803900292,15:35,코,None,증권발행결과(자율공시)(제3자배정 유상증자),...,20180803069540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1298246,043610,K,지니뮤직,지니뮤직,2018-08-03,20180803900295,15:36,코,None,영업(잠정)실적(공정공시),...,20180803043610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0