In [6]:
import numpy as np
import matplotlib as plt
from sklearn import linear_model, datasets
import pymysql
from datetime import datetime, timedelta
from sklearn.model_selection import train_test_split
from sshtunnel import SSHTunnelForwarder
import random
import functools
import pandas as pd

In [30]:
with SSHTunnelForwarder(
         ('1.212.234.245', 486),
         ssh_password="vips",
         ssh_username="vips",
         remote_bind_address=('127.0.0.1', 3306)) as server:

    conn = pymysql.connect(host='localhost',
                           port=server.local_bind_port,
                           user='root',
                           passwd='qlqtmajrwk',
                           db='dg',
                           charset='utf8')

    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "select * from dg.searchDB where (crp_cls = 'K' or crp_cls = 'Y')"
    curs.execute(sql)
    rcp_table = curs.fetchall()
    
    sql2 = "select * from dg.stockDB"
    curs.execute(sql2)
    stock_table = curs.fetchall()
    conn.commit()
    conn.close()
    
    
server.stop()

In [29]:
len(rcp_table) #2018-07-23 오전 update 기준

1295919

In [31]:
len(rcp_table)

1295926

In [32]:
rcp_pd = pd.DataFrame.from_dict(rcp_table)

In [33]:
rcp_pd.head()

,crp_cd,crp_cls,crp_nm,flr_nm,rcp_dt,rcp_no,rcp_rt,rmk,rpt_cat,rpt_nm
0,023150,Y,MH에탄올,MH에탄올,1999-03-25,19990325000001,None,정,E_1,사업보고서 (1998.12)
1,001140,Y,국보,국보,1999-03-25,19990325000003,None,정,E_1,사업보고서 (1998.12)
2,014160,Y,대영포장,대영포장,1999-03-25,19990325000008,None,정연,E_1,사업보고서 (1998.12)
3,002310,Y,아세아제지,아세아제지,1999-03-25,19990325000015,None,정,E_1,사업보고서 (1998.12)
4,015360,Y,예스코,예스코,1999-03-25,19990325000016,None,정,E_1,사업보고서 (1998.12)

In [27]:
rcp_pd.groupby(['crp_cd','crp_nm']).size()

pandas.core.series.Series

In [70]:
def converToKorean(x) :
    if x == 'Y': return '유가증권'
    elif x == 'K' : return '코스닥'
    else: return '코넥스'

SyntaxError: invalid syntax (<ipython-input-70-eb8daca5c48f>, line 3)

In [69]:
rcp_pd.groupby(['crp_cd','crp_cls','crp_nm']).size().to_frame().to_csv('기업별공시count.csv')

In [23]:
size

crp_cd  crp_nm
000020  동화약품           792
000030  우리은행          1948
000040  KR모터스          770
000050  경방             684
000060  메리츠화재         1456
000070  삼양홀딩스          950
000080  하이트진로          874
000100  유한양행          1412
000120  CJ대한통운        1011
000140  하이트진로홀딩스      1091
000150  두산            2160
000180  성창기업지주         585
000210  대림산업          1909
000220  유유제약          1121
000230  일동홀딩스          872
000240  한국타이어월드와이드     967
000250  삼천당제약          382
000270  기아자동차         2638
000300  대유플러스          946
000320  노루홀딩스         1494
000370  한화손해보험        1409
000390  삼화페인트공업       1097
000400  롯데손해보험         912
000430  대원강업          1104
000440  중앙에너비스         438
000480  조선내화           585
000490  대동공업           526
000500  가온전선           567
000520  삼일제약           521
000540  흥국화재           962
                      ...
289080  SV인베스트먼트        20
291210  한국제7호스팩          5
294870  HDC현대산업개발       24
298000  효성화학             9
298020  효성티앤씨           12
298040  효성중공업            9
298050  효성첨단소재          10
900040  차이나그레이트        255
900070  글로벌에스엠         293
900080  에스앤씨엔진그룹       344
900090  차이나하오란         507
900100  뉴프라이드          506
900110  이스트아시아홀딩스      336
900120  씨케이에이치         309
900140  엘브이엠씨            4
        코라오홀딩스         361
900180  완리             303
900250  크리스탈신소재        112
900260  로스웰             56
900270  헝셩그룹            65
900280  골든센츄리          146
900290  GRT             78
900300  오가닉티코스메틱        56
900310  컬러레이            69
950110  SBI핀테크솔루션즈     168
950130  엑세스바이오         285
950140  잉글우드랩          106
950160  코오롱티슈진           5
        티슈진             21
950170  JTC             30
Length: 2130, dtype: int64

In [68]:
datetime_index = rcp_pd.index = rcp_pd['rcp_dt']
datetime_index = datetime_index.applymap(lambda x:x.year)

AttributeError: 'Series' object has no attribute 'applymap'

In [61]:
datetime_index[0].year

1999

AttributeError: 'Series' object has no attribute 'year'